.Container {
    padding-top: 13px;
    padding-bottom: 13px;
}

.ModalBody {
    background-color: var(--neutral-grey);
}

.ModalHeader, .Container {
    background-color: var(--background-color);
}

.Badge {
    margin-left: 3rem;
}

.TableContainer {
    padding-left: 12px;
}
