.PageLayout {
    background-color: black;
    width: 100%;
}

.MenuContainer, 
.ContentContainer {
    padding-top: var(--header-height);
    margin: 0;
}

.MenuContainer {
    background-color: var(--neutral-grey);
}

.ContentContainer { 
    background-color: var(--background-color);
}

@media (max-width: 767px) {
    .ContentSpacer {
        padding-top: calc(var(--header-height) + 1rem);
    }
    .ContentContainer {
        padding-top: 0;
        /* min-height: calc(100vh - var(--footer-height) - var(--header-height) + 2rem); */
    }

    .ContentContainerUnauthorized {
        min-height: calc(100vh - var(--footer-height) - var(--header-height) + 2rem);
    }
}

@media (min-width: 581px) and (max-width: 767px) {
    .ContentContainerUnauthorized {
        padding-top: 0;
        min-height: calc(100vh - var(--footer-height) - var(--header-height) + 4rem);
    }
}

@media (min-width: 768px) {
    .ContentContainer {
        min-height: calc(100vh - var(--footer-height));
    }
}
