.MenuContainer,
.ContentContainer {
    padding-top: 0;
    margin: 0;
}

.MenuContainer {
    background-color: var(--neutral-grey);
}

.ContentContainer {
    /*background-color: var(--background-color);*/
    background-color: #FFF;
}

.Badge {
    margin-left: 3rem;

}

@media (max-width: 767px) {
    .ContentContainer {
        padding-top: 0;
    }
}

@media (min-width: 768px) {
    .ContentContainer {
        /*min-height: calc(100vh - var(--footer-height));*/
        height: fit-content;
    }
}
