:root {
    --main-color: #0E901B;
    --secondary-color: #F3EEE1;
    --accent-color: #C9E329;
    --background-color: #F5F5F5;
    --black: #141614;
    --light-grey: #F4F6ED;
    --neutral-grey: #B7C0B5;
    --dark-grey: #787D77;
    --error-color: #dc3545;
}
