.TrailForm {
    background-color: var(--background-color);
    padding: 20px;
    font-family: var(--font-family);
    font-weight: var(--subsection-header-font-weight);
    font-size: var(--section-header-font-size);
}

.SectionTitle {
    font-family: var(--font-family);
    font-weight: var(--section-header-font-weight);
    font-size: var(--section-header-font-size);

    margin-top: 1rem;
    margin-bottom: 1rem;

    border-bottom: var(--main-color);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

textarea.Description:not(abc) {
    min-height: 10rem;
}

.Photo {
    max-width: 100%;
    border-radius: 6px;
}

.FormErrorMessage {
    color: var(--error-color);
    font-family: var(--font-family);
    font-weight: var(--section-header-font-weight);
    font-size: var(--section-header-font-size);

    margin-top: 1rem;
    min-height: 1.5rem;
}

.Buttons{
    padding: 15px;
}

.PoiModalButton:not(abc):not(bcd){
    margin-left: 0;
    margin-bottom: 1rem;
}

.Multiselect {
    background-color: white;
}

.MultiselectError {
    background-color: white;
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 12 12%27 width=%2712%27 height=%2712%27 fill=%27none%27 stroke=%27%23dc3545%27%3e%3ccircle cx=%276%27 cy=%276%27 r=%274.5%27/%3e%3cpath stroke-linejoin=%27round%27 d=%27M5.8 3.6h.4L6 6.5z%27/%3e%3ccircle cx=%276%27 cy=%278.2%27 r=%27.6%27 fill=%27%23dc3545%27 stroke=%27none%27/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.MultiselectError > div:first-child {
    border-color: var(--error-color);
}
